$md-aimypurple: (
  50 : #e2e3eb,
  100 : #b7b8cd,
  200 : #8889ab,
  300 : #585a89,
  400 : #343670,
  500 : #101357,
  600 : #0e114f,
  700 : #0c0e46,
  800 : #090b3c,
  900 : #05062c,
  A100 : #6666ff,
  A200 : #3333ff,
  A400 : #0000ff,
  A700 : #0000e6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$md-aimygreen: (
  50 : #f0f7f4,
  100 : #d9ece5,
  200 : #c0dfd3,
  300 : #a6d2c1,
  400 : #93c9b4,
  500 : #80bfa7,
  600 : #78b99f,
  700 : #6db196,
  800 : #63a98c,
  900 : #509b7c,
  A100 : #fcfffe,
  A200 : #c9ffe8,
  A400 : #96ffd2,
  A700 : #7dffc7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-aimyred: (
  50 : #fdf0f0,
  100 : #fad9d9,
  200 : #f7c0c0,
  300 : #f3a7a7,
  400 : #f19494,
  500 : #ee8181,
  600 : #ec7979,
  700 : #e96e6e,
  800 : #e76464,
  900 : #e25151,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffdada,
  A700 : #ffc1c1,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

