<div fxFlexFill fxLayout="row" style="height: 100%">
  <div class="white-box nav-menu" style="width: 50px; height: 100%" fxLayout="column" fxHide.lt-md>
    <button color="primary" mat-icon-button *ngFor="let icon of navIcons">
      <mat-icon>{{ icon }}</mat-icon>
    </button>
  </div>
  <div class="outline" fxFill fxFlex="" fxLayout="column">
    <div class="white-box header" fxFill fxFlex="10" fxHide.lt-md fxLayoutAlign="start center">
      <h2>
        <span class="grey-text">Reporting / </span>
        Aimy Payments
      </h2>
    </div>
    <div class="page-content" fxFill fxFlex="90" fxLayout="column">
      <div class="filter-row" fxLayout="row" fxHide.lt-md>
        <mat-form-field appearance="fill">
          <mat-label>Employee</mat-label>
          <mat-select (selectionChange)="employeeFilter = $event.value; employeeFilterChanged()">
            <mat-option [value]="undefined">
               All
            </mat-option>
            <mat-option *ngFor="let employee of employees" [value]="employee">
              {{ employee }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="column">
        <app-charts [labels]="chartOneLabels" [dataset]="chartOneData" (sortChanged)="sort = $event; this.parseChartOneData()"></app-charts>
        <app-charts [labels]="chartTwoLabels" [dataset]="chartTwoData"></app-charts>
      </div>
    </div>
  </div>
</div>
