<div fxFlexFill fxLayout="row" style="height: 100%">
  <div class="white-box nav-menu" style="width: 50px" fxLayout="column" fxHide.lt-md>
    this is the navbar
  </div>
  <div class="outline" fxFill fxFlex="" fxLayout="column">
    <div class="white-box header" fxFill fxFlex="10" fxHide.lt-md>
      this is the header
    </div>
    <div class="page-content" fxFill fxFlex="90" fxLayout="column">
      <div class="filter-row" fxLayout="row" fxHide.lt-md>
        this is the transparent part
      </div>
      <div fxLayout="column">
        <app-charts></app-charts>
        <app-charts></app-charts>
      </div>
    </div>
  </div>
</div>
