.white-box {
  background: #FFFFFF;
}

.nav-menu {
  border-right: 1px solid rgb(222, 222, 222);
  z-index: 3;
}

.header {
  border-bottom: 1px solid rgb(222, 222, 222);
  padding: 10px 0 0 10px;
  box-shadow: 0px 1px 10px 2px #3a3a3a4a;
  z-index: 2;
}

.page-content {
  background-color: rgb(238, 238, 238);
  padding: 12px;
  z-index: 1;
}

.filter-row {
  background-color: transparent;
}

.grey-text {
  color: #C4C4C4;
}
